body {
    font-family: Arial;
    background: #f2f2f2;
    direction: rtl;
}

.container {
    width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    background: #ff9800;
    color: white;
    border: none;
    cursor: pointer;
}

canvas {
    width: 100%;
    margin-top: 10px;
    border: 1px solid black;
}

a {
    display: block;
    margin-top: 10px;
    color: blue;
}